.btn{
  font-size: 18px;
  font-style: normal;
  color: white;
  background-color: $black;
  max-width: fit-content;
  padding: 15px 30px;
  display: flex;
  align-items: center;
  gap: 12px;
  border: 1px solid $black;
  transition: background-color 0.3s ease;
  cursor: pointer;

  &:after{
    content: "";
    background: url("../../assets/images/icons/arrow.png");
    background-size: cover;
    display: block;
    width: 15px;
    height: 15px;
  }

  &:hover{
    background-color: white;
    color: $black;

  }
}